{% extends 'base.html.twig' %}

{% block title %}Nuvola{% endblock %}

{% block body %}

<h1>Nuvola</h1>
<p>Application Démo faite avec le Framework Symfony</p>
<p>
  <a href="{{ path('photo') }}">Nos photos</a>
</p>

{% endblock %}
