{% extends 'base.html.twig' %}

{% block title %}Enregistrer une photo{% endblock %}

{% block body %}

<h1>Enregistrer une photo</h1>

{{ form_start(form) }}

  {{ form_row(form) }}

{{ form_end(form) }}

{% endblock %}
